__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
.venv/
venv/
env/
ENV/
.ipynb_checkpoints/
Dockerfile
.dockerignore
.git/
.gitignore
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
.vscode/
.idea/
*.swp
*.csv
*.tsv
*.xlsx
*.db
*.zip
*.tar
*.gz
*.h5
*.pt
*.pth
*.pb
*.onnx
*.joblib
node_modules/
